.popup__user-name {
  min-width: 358px;
  min-height: 44px;
  border: none;
  border-bottom: 0.1px solid rgb(0, 0, 0, 0.2);
}

@media screen and (max-width: 762px) {
  .popup__user-name {
      min-width: 238px;
      height: 54px;
  }
}
