.card__like {
  margin: 29px 20px 30px 5px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: rgb(255, 255, 255);
}

.card__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
