.profile__avatar-editbutton{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url('../../../images/edit_btn.svg') center no-repeat;
    background-size: 30%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
    border: none;
  
    transition: all 300ms ease;
}

.profile__avatar-editbutton:hover{
    opacity: 1;
    z-index: 100;
}